/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
.deck-status {
    display: none;
}
.keydown.deck-container .slide .content > h1 {
	text-align: center;
}
.keydown.deck-container .slide .content > ul {
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-box-align: start;
	box-align: start;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-ms-box-pack: start;
	box-pack: start; 
}